<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>Editar Artigo</h5>
                </div>
                <div class="card-body">
                    <form action="/articles/update" method="POST">
                        <input type="hidden" value="{{article.id}}" name="id">
                        <input type="text" name="title" class="form-control mb-3" id="select"
                            placeholder="Título do artigo" value="{{article.title}}">
                        <textarea name="body" id="article" cols="30" rows="10" class="form-control"
                            placeholder="Escreva o artigo aqui"></textarea>
                        <h6 class="text-muted mt-3">Categria:</h6>
                        <select name="category" class="form-control" id="">
                            {{#each categories}}
                            <option value="{{id}}">{{slug}}</option>
                            {{/each}}
                        </select>
                        <button type="submit" class="btn btn-success mt-3">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="textarea" style="display: none;">
    {{article.body}}
</div>